# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/idpay-app-maintainer-team @dariopelliccioli @antonioT90 @frtrinca @Benedetta-fabbri @FrancescoGraziano @stedelia