# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file
# Add the repository's code owners here
* @pagopa/idpay-app-maintainer-team @pagopa/idpay-approver-team @dariopelliccioli