microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 15
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 125
    failureThreshold: 15
    periodSeconds: 10

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    ports:
      - 8080

  ingress:
    create: true
    path: /idpay/reward/(.*)
    servicePort: 8080

  serviceAccount:
    create: false
    annotations: { }
    name: ""

  podAnnotations: { }

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 10000

  envConfig:
    MONGODB_DBNAME: "idpay"
    APPLICATIONINSIGHTS_ROLE_NAME: "idpayrewardcalculator"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    APPLICATIONINSIGHTS_PREVIEW_PROFILER_ENABLED: "false"
    KAFKA_TRANSACTION_USER_ID_SPLITTER_GROUP_ID: "idpay-reward-calculator-consumer-group"
    KAFKA_REWARD_RULE_GROUP_ID: "idpay-reward-calculator-rule-consumer-group"
    KAFKA_HPAN_UPDATE_GROUP_ID: "idpay-reward-calculator-hpan-update-consumer-group"
    KAFKA_COMMANDS_GROUP_ID: "idpay-commands-reward-calculator-consumer-group"
    KAFKA_REWARD_RESPONSE_GROUP_ID: "idpay-reward-calculator-consumer-group"
    DELETE_PAGINATION_SIZE: "50"
    DELETE_DELAY_TIME: "1000"
    COUNTERS_LAST_TRX_EXPIRED: "PT1H"
    HEALTH_MONGO_ENABLED: "false"


  externalConfigMapValues:
    idpay-common:
      TZ: TZ
    idpay-eventhub-00:
      KAFKA_REWARD_RESPONSE_BROKER: kafka_broker
      KAFKA_REWARD_RESPONSE_TOPIC: idpay_transaction_topic
    idpay-eventhub-01:
      KAFKA_BROKER: kafka_broker
      KAFKA_REWARD_SASL_MECHANISM: kafka_sasl_mechanism
      KAFKA_REWARD_SECURITY_PROTOCOL: kafka_security_protocol
      KAFKA_ERRORS_BROKER: kafka_broker
      KAFKA_ERRORS_TOPIC: idpay_error_topic
      KAFKA_HPAN_UPDATE_TOPIC: idpay_hpan_update_topic
      KAFKA_HPAN_UPDATE_OUTCOME_TOPIC: idpay_hpan_update_outcome_topic
      KAFKA_COMMANDS_TOPIC: idpay_commands_topic
    rtd-eventhub:
      KAFKA_RTD_BROKER: kafka_broker_rtd_domain

  envSecret:
    MONGODB_URI: mongodb-connection-string
    KAFKA_RTD_SASL_JAAS_CONFIG: evh-rtd-trx-rtd-trx-consumer-rtd
    KAFKA_RTD_PROD_SASL_JAAS_CONFIG: evh-rtd-trx-rtd-trx-producer-rtd
    KAFKA_REWARD_RESPONSE_SASL_JAAS_CONFIG: evh-idpay-transaction-idpay-transaction-producer-jaas-config-idpay-00
    KAFKA_REWARD_RESPONSE_CONSUMER_SASL_JAAS_CONFIG: evh-idpay-transaction-idpay-transaction-consumer-jaas-config-idpay-00
    KAFKA_REWARD_RULE_REQUEST_SASL_JAAS_CONFIG: evh-idpay-rule-update-idpay-rule-update-consumer-jaas-config-idpay-01
    KAFKA_TRANSACTION_USER_ID_SPLITTER_SASL_JAAS_CONFIG: evh-idpay-transaction-user-id-splitter-idpay-transaction-user-id-splitter-consumer-jaas-config-idpay-01
    KAFKA_TRANSACTION_USER_ID_SPLITTER_PRODUCER_SASL_JAAS_CONFIG: evh-idpay-transaction-user-id-splitter-idpay-transaction-user-id-splitter-producer-jaas-config-idpay-01
    KAFKA_HPAN_UPDATE_SASL_JAAS_CONFIG: evh-idpay-hpan-update-idpay-hpan-update-consumer-jaas-config-idpay-01
    KAFKA_HPAN_UPDATE_OUTCOME_SASL_JAAS_CONFIG: evh-idpay-hpan-update-outcome-idpay-hpan-update-outcome-producer-jaas-config-idpay-01
    KAFKA_ERRORS_SASL_JAAS_CONFIG: evh-idpay-errors-idpay-errors-producer-jaas-config-idpay-01
    KAFKA_COMMANDS_SASL_JAAS_CONFIG: evh-idpay-commands-idpay-commands-consumer-jaas-config-idpay-01
    REDIS_CONNECTION_URL: idpay-redis-00-primary-connection-url

  externalConfigMapFiles:
    create: true
    configMaps:
      - name: appinsights-config
        key: applicationinsights.json